.main-header {
  display: flex;
  height: 296.71px;
  top: -40.29px;
  background: #928fff;
  border-radius: 0px 0px 45px 45px;
  transform: rotate(0deg);
}

.main-header-blob {
  position: absolute;
  width: 205px;
  height: 186px;
  right: 40px;
  bottom: -55px;
  background: #ffc7a8;
  border-radius: 40px;
}

.main-header-blob-title {
  margin: 0;
  position: absolute;
  top: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  color: #222222;
  padding: 2px;
}

* {
  margin: 0;
}
